<div class="container">
  <!-- Title -->
  <div id="title" class="content">
    <h2>List Your Party Members</h2>
  </div>

  <!-- Text Input -->
  <div id="input" class="content">
    <mat-form-field appearance="fill" class="person-input">
      <input #nextPerson matInput placeholder="Add another party member" (keyup.enter)="add(nextPerson)" autocomplete="off">
      <button matSuffix mat-fab color="primary" (click)="add(nextPerson);" class="add-button"><mat-icon>add</mat-icon></button>
    </mat-form-field>
  </div>

  <!-- Person List -->
  <div id="list" class="content">
    <mat-list>
      <mat-list-item *ngFor="let person of personNames" class="person-list-item">
        <mat-card class="person-list-item-card">
          <mat-card-content class="person-list-item-content person-name">{{ person }}</mat-card-content>
          <button class="person-list-item-content remove-button" mat-button (click)="remove(person)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>

  <div id="submit" class="footer content">
    <button routerLink="/items" mat-flat-button color="primary" class="submit-button" isRounded="false" style="border-radius: 0px;">Add Items</button>
  </div>
</div>
