<div class="container">
  <!-- Title -->
  <div id="title" class="content">
    <h2>Summary</h2>
  </div>

  <div id="subtotal" class="content">
    Subtotal: {{ subtotal | currency : 'USD' }}
  </div>

  <!-- Total input -->
  <div id="priceInput" class="content">
    <mat-form-field appearance="fill" class="input">
      <mat-label>Total</mat-label>
      <span matPrefix>$ &nbsp;</span>
      <input #total matInput type="number" autocomplete="off">
    </mat-form-field>
  </div>

  <div class="content">
    <button mat-icon-button color="primary" (click)="copy()" class="control-button">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="expandAll()" class="control-button" [disabled]="!canExpandAll()">Expand All</button>
    <button mat-raised-button color="primary" (click)="collapseAll()" class="control-button" [disabled]="!canCollapseAll()">Collapse All</button>
  </div>

  <!-- Person List -->
  <div id="summary" class="content ">
    <table mat-table [dataSource]="peopleList">
      <ng-container matColumnDef="purchases">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let person" class="person-summary">
          <button mat-icon-button color="black" (click)="toggle(person.name)">
            <mat-icon>{{ personExpanded.get(person.name) ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>
          <span class="person-name">{{ person.name + (personExpanded.get(person.name) ? '' : ': ' + (calculateTotal(person) | currency : 'USD')) }}</span>

          <!-- Purchases -->
          <table mat-table [dataSource]="getPurchases(person.name)" *ngIf="personExpanded.get(person.name)">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let purchase" style="width: 75%;">{{ purchase.name }} x{{ purchase.quantity }}</td>
            </ng-container>

            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let purchase">{{ purchase.price | currency : 'USD' }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedPurchaseColumns" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedPurchaseColumns"></tr>
          </table>

          <table class="person-total" *ngIf="personExpanded.get(person.name)">
            <tr>
              <td>Subtotal:</td>
              <td>{{ calculateSubTotal(person) | currency : 'USD' }}</td>
            </tr>
            <tr class="total">
              <td>Total:</td>
              <td>{{ calculateTotal(person) | currency : 'USD' }}</td>
            </tr>
          </table>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="subtotal">
        <th mat-header-cell *matHeaderCellDef>Subtotal</th>
        <td mat-cell *matCellDef="let person">{{ calculateSubTotal(person) | currency : 'USD' }}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let person">{{ calculateTotal(person) | currency : 'USD' }}</td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </div>

  <div id="submit" class="footer content">
    <button mat-flat-button color="primary" class="submit-button" isRounded="false" style="border-radius: 0px;" (click)="calculate(total.value)">Calculate</button>
  </div>
</div>
