<div class="container">
  <!-- Title -->
  <div id="title" class="content">
    <h2>Summary</h2>
  </div>

  <div id="subtotal" class="content">
    Subtatol: {{ subtotal | currency : 'USD' }}
  </div>

  <!-- Total input -->
  <div id="priceInput" class="content">
    <mat-form-field appearance="fill" class="input">
      <mat-label>Total</mat-label>
      <span matPrefix>$ &nbsp;</span>
      <input #total matInput type="number" [value]="total">
    </mat-form-field>
  </div>

  <!-- Person List -->
  <div id="list" class="content">
    <table mat-table [dataSource]="peopleList">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Party Member</th>
        <td mat-cell *matCellDef="let person">{{ person.name }}</td>
      </ng-container>

      <ng-container matColumnDef="subtotal">
        <th mat-header-cell *matHeaderCellDef>Subtotal</th>
        <td mat-cell *matCellDef="let person">{{ calculateSubTotal(person) | currency : 'USD' }}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let person">{{ calculateTotal(person) | currency : 'USD' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </div>

  <div id="submit" class="footer content">
    <button mat-flat-button color="primary" class="submit-button" isRounded="false" style="border-radius: 0px;" (click)="calculate(total.value)">Calculate</button>
  </div>
</div>
