.nav-button {
  width: 33.3333333333333%;
  height: 3.5em;
}

.left-button {
  border-right: 0.5px solid white;
}

.middle-button {
  border-right: 0.5px solid white;
  border-left: 0.5px solid white;
}

.right-button {
  border-left: 0.5px solid white;
}

#navigationBar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}
