<div class="container">
  <!-- Title -->
  <div id="title" class="content">
    <h2>Item Details</h2>
  </div>

  <!-- Name -->
  <div id="nameInput" class="content">
    <mat-form-field appearance="fill" class="input">
      <mat-label>Item Name</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="name" tabindex="1">
    </mat-form-field>
  </div>
  <!-- Price -->
  <div id="priceInput" class="content">
    <mat-form-field appearance="fill" class="input">
      <mat-label>Price</mat-label>
      <span matPrefix>$ &nbsp;</span>
      <input matInput type="number" autocomplete="off" [(ngModel)]="price" tabindex="2">
    </mat-form-field>
  </div>
  <!-- Split -->
  <div class="content">
    <div id="splitInput" class="checkbox">
      <mat-checkbox [(ngModel)]="split" class="example-margin" color="primary" tabindex="3">Split Item</mat-checkbox>
    </div>
  </div>
  <!-- Person -->
  <div id="personSelection" class="content">
    <mat-form-field appearance="fill" class="input">
      <mat-label>Party Member</mat-label>
      <mat-select [(ngModel)]="person" tabindex="4">
        <mat-option *ngFor="let person of personNames" [value]="person">
          {{ person }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="content" [ngClass]="{ 'hide': !split }">
    <mat-form-field appearance="fill" class="input">
      <mat-label>Shares</mat-label>
      <input #shareInput matInput type="number" autocomplete="off" [(ngModel)]="quantity" tabindex="5" (keyup.enter)="shareInput.blur(); addShare()">
    </mat-form-field>
  </div>
  <div class="content" [ngClass]="{ 'hide': !split }">
    <button mat-raised-button color="primary" (click)="addShare()">Add Party Member</button>
  </div>

  <!-- Share List -->
  <div id="list" class="content">
    <mat-list>
      <mat-list-item *ngFor="let share of shareList" class="share-list-item">
        <mat-card class="share-list-item-card">
          <mat-card-content class="share-list-item-content share-name">{{ share.name }}: {{ share.quantity }}</mat-card-content>
          <button mat-icon-button class="share-list-item-content card-button" mat-button (click)="removeShare(share.name)">
            <mat-icon class="card-button-icon">close</mat-icon>
          </button>
          <button mat-icon-button class="share-list-item-content card-button" mat-button (click)="editShare(share.name)">
            <mat-icon class="card-button-icon">edit</mat-icon>
          </button>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>

  <div id="submit" class="footer content">
    <button
      routerLink="/items"
      mat-flat-button
      color="primary"
      class="submit-button"
      isRounded="false"
      style="border-radius: 0px;"
      (click)="add()"
    >
      Add Item
    </button>
  </div>
</div>
