<div id="navigationBar">
  <button routerLink="/people" mat-flat-button color="primary" class="nav-button left-button" style="border-radius: 0px;">
    <mat-icon>person_add</mat-icon>
  </button>
  <button routerLink="/items" mat-flat-button color="primary" class="nav-button middle-button" style="border-radius: 0px;">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
  <button routerLink="/summary" mat-flat-button color="primary" class="nav-button right-button" style="border-radius: 0px;">
    <mat-icon>receipt_long</mat-icon>
  </button>
</div>
<router-outlet></router-outlet>
