<div class="container">
  <!-- Title -->
  <div id="title" class="content">
    <h2>List Your Party Members</h2>
  </div>

  <!-- Text Input -->
  <div id="input" class="content">
    <mat-form-field appearance="fill" class="person-input">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="add()">
        <mat-option *ngFor="let person of unselectedSavedPeople" [value]="person">
          <span>{{ person }}</span>
          <button class="card-button" mat-button (click)="removeSaved(person)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-option>
      </mat-autocomplete>
      <input
        #input
        matInput
        placeholder="Add another party member"
        (keyup.enter)="add()"
        autocomplete="off"
        [(ngModel)]="person"
        [matAutocomplete]="auto"
      >
      <button matSuffix mat-fab color="primary" (click)="add()" class="add-button"><mat-icon>add</mat-icon></button>
    </mat-form-field>
  </div>

  <!-- Person List -->
  <div id="list" class="content">
    <mat-list>
      <mat-list-item *ngFor="let person of personNames" class="person-list-item">
        <mat-card class="person-list-item-card">
          <mat-card-content class="person-list-item-content person-name">{{ person }}</mat-card-content>
          <button class="person-list-item-content card-button" mat-button (click)="remove(person)">
            <mat-icon class="card-button-icon">close</mat-icon>
          </button>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>

  <div id="submit" class="footer content">
    <button routerLink="/items" mat-flat-button color="primary" class="submit-button" isRounded="false" style="border-radius: 0px;">Add Items</button>
  </div>
</div>
