<div class="container">
  <!-- Title -->
  <div id="title" class="content">
    <h2>Add Items</h2>
    <button routerLink="/add-item" matSuffix mat-fab color="primary" class="add-button"><mat-icon>add</mat-icon></button>
  </div>

  <!-- Item List -->
  <div id="list" class="content">
    <mat-list>
      <mat-list-item *ngFor="let item of itemList" class="item-list-item">
        <mat-card class="item-list-item-card">
          <mat-card-content class="item-list-item-content item-name">{{ item.name }}: {{ item.price | currency : 'USD' }}</mat-card-content>
          <button class="item-list-item-content remove-button" mat-button (click)="remove(item.name)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>

  <div id="submit" class="footer content">
    <button routerLink="/items" mat-flat-button color="primary" class="submit-button" isRounded="false" style="border-radius: 0px;">Submit</button>
  </div>
</div>
