.container {
  padding-top: 3.5em;
  padding-bottom: 4em;
}

.content {
  display: flex;
  justify-content: center;
}

.add-button {
  margin-left: 1em;
  margin-top: 0.5em;
}

.person-list-item {
  margin-bottom: 1em;
}

.footer {
  position: fixed;
  width: 100%;
  min-height: 4em;
  bottom: 0px;
}

.submit-button {
  width: 100%;
  font-size: xx-large;
}


table {
  width: 90%;
  table-layout: fixed;
}

td {
  font-size: medium;
}

.input {
  width: 90%;
}

.control-button {
  margin-right: 10px;
}

#subtotal {
  margin-bottom: 1em;
}

.person-total {
  padding-top: 10px;
  padding-bottom: 5px;
}

.person-summary {
  padding-top: 20px;
}

.person-name {
  font-weight: 600;
}


.total {
  font-weight: 600;
}
